<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Realizar Test</title>
    <style>
        #progress, #timer {
            margin: 10px 0;
            font-size: 18px;
        }
        .question {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div id="progress-info">
        <div id="progress"></div>
        <div id="timer"></div>
    </div>
    <form id="test-container">
        <!-- Las preguntas del test se cargarán aquí -->
    </form>
    <button id="submit-test">Enviar Respuestas</button>

    <script src="js/test-view.js"></script>
</body>
</html>
